{include file="template/header.tpl" title="encabezado"}
<div id="content">
    
     <form action="{$url}{$lang}/login/access" method="post">
        <label>Nombre</label><input type="text" name="name"><br>
        

        <label>Password</label><input type="password" name="password">
        
       
           
               <br>
           
        <label></label><input type="submit" value="Enviar">
    </form>
 </div>
{include file="template/footer.tpl" title="footer"}