{include file="template/header.tpl" title="encabezado"}
<div id="content">
    
     
        
    <h1>USUARIO YA LOGUEADO, DEBE DESCONECTARSE ANTES DE PODER ACCEDER A OTRA CUENTA</h1>
           
       
 </div>
{include file="template/footer.tpl" title="footer"}