{include file="template/header.tpl" title="encabezado"}
<div id="content">
    <h2>{$language->translate('study_plan')}</h2>
    
    Pulsa para cargar el texto:
    <div id="texto" style="background-color:lime; padding:10px;"  >
        
        <p id="pepe">  VACIO  </p>
        
        
    </div>
    
    
     </div>
{include file="template/footer.tpl" title="footer"}